body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

.container{
    width:500px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

h1,h2{
    text-align:center;
}
h1{
    text-decoration:underline;
}

input{
    width:95%;
    padding:10px;
    margin:10px 0;
}
.button-container{
    text-align: center;
    margin-top: 20px;
}

.btn{
    display:inline-block;
    padding:10px 15px;
    background:#007bff;
    color:white;
    border:none;
    text-decoration:none;
    cursor:pointer;
    margin:5px;
}

button{
    display:inline-block;
    padding:10px 15px;
    background:#007bff;
    color:white;
    border:none;
    text-decoration:none;
    cursor:pointer;
    margin:5px;
}

button:hover,.btn:hover{
    background:#0056b3;
}

table{
    margin-top:20px;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    text-align:center;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:navy;
    padding:15px 40px;
}

.logo a{
    color:white;
    text-decoration:none;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
    justify-content:flex-end;
    gap:25px;
    margin:0;
    padding:0;
}

.nav-links a{
    color:white;
    text-decoration:underline;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#ffd700;
}

.login-btn{
    background:white;
    color:#007bff;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.login-btn:hover{
    background:#f1f1f1;
}